* {
    box-sizing: border-box;
}

/* Semantic tags do not contain . or # and sets the whole section to follow the CSS rules */
header {
    background-color: palevioletred;
}

body {
  font-family: Arial, 'Times New Roman', Times, serif;
  line-height: 1;
  background-color: white;
}

main {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  margin-top: 5%;
  flex-direction: column;
}

nav {
  display: inline;
  float: right;
  margin: 10px;
}

nav ul {
  display: flex;
  text-underline-position: below;
  color: black;
  justify-content: space-evenly;
  min-width: 2%;
  margin: 0%;
}

p {
  display: inline-block;
  padding: 1%;
  background-color: lavender;
  border: 1mm solid black;
  position: relative;
  top: 60%;
  left: 80%;
  }

h2 {
  margin: 0;
  text-align: left;
  }

h3 {
  display: inline-block;
  justify-content: center;
  padding: 1%;
  background-color: lavender;
  border: 1mm solid black;
  position: relative;
  bottom: 10px;
  right: 200px;
}

h4 {
  font-weight: 200;
  line-height: normal;
  margin-left: 10px;
}

aside {  
  width: 15%;
  border-right: 2mm solid black;
  background-color: white;
  color: black
  }
  
section {
  flex: 70%;
  box-sizing: border-box;
  background-color: #fff;
}

.hero {
  background-image: url("../assets/images/water.jpg");
  height: 200px;
}

.boxheader {
  display: inline-block;
  background-color: lavenderblush;
  border: 1mm solid black;
}

/* This is the About Me section, applying styles specifically to the ID aboutme in the HTML */
#aboutme_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aboutme_child {
  width: 90%;
  justify-content: center;
  align-self: center;
}
  
/* This is the Work section, applying styles specifically to the ID work in the HTML */
  #work {
    width: 15%;
  }

  #work_container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

.flex_container{ 
    display: flex;
    width: 85%;
    background-color: palevioletred;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.box-1 {
  order:2;
  width: 90%;
  align-self: center;
  border: 1mm solid lavenderblush;
  justify-content: center;
}

.box-1 img {
  height: 400px;
  width: 100%;
}

.box-2 {
  order:3;
  width: 45%;
  border: 1mm solid lavenderblush;
}

.box-2 img {
  height: 200px;
  width: 70%;
}

.cornertext {
  float: right;
}

/* This is the Contact Me section, specifically targeting the ID tag */
#contactme_container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contactme_child {
  width: 90%;
  justify-content: center;
  align-self: center;
}

/* This is a media query rules set when screen size gets smaller*/
@media screen and (max-width: 600px) {
  .boxheader {
    background-color: lightskyblue;
    display: inline-block; 
    text-align: wrap;
  }

  main nav nav ul section p body header {
    width: 50%;
  }

}